---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_SECRET_KEY&exclude=current,daily,minutely&lat=38.892062&lon=-77.019912
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-14400,"hourly":[{"dt":1632952800,"temp":293.72,"feels_like":293.22,"pressure":1015,"humidity":53,"dew_point":283.82,"uvi":0.3,"clouds":20,"visibility":10000,"wind_speed":2,"wind_deg":350,"wind_gust":3.75,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1632956400,"temp":293.25,"feels_like":292.73,"pressure":1015,"humidity":54,"dew_point":283.66,"uvi":0,"clouds":16,"visibility":10000,"wind_speed":1.4,"wind_deg":20,"wind_gust":1.46,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1632960000,"temp":292.51,"feels_like":291.91,"pressure":1016,"humidity":54,"dew_point":282.98,"uvi":0,"clouds":12,"visibility":10000,"wind_speed":1.7,"wind_deg":56,"wind_gust":2.33,"weather":[{"id":801,"main"[...]
[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_SECRET_KEY&location=Washington,%20DC
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 23 Dec 2021 21:00:45 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Washington,
        DC"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Washington","adminArea5Type":"City","adminArea4":"District
        of Columbia","adminArea4Type":"County","adminArea3":"DC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282772166","unknownInput":"","type":"s","latLng":{"lat":38.892062,"lng":-77.019912},"displayLatLng":{"lat":38.892062,"lng":-77.019912},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_SECRET_KEY&type=map&size=225,160&locations=38.892062,-77.019912|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-948880607"}]}]}'
  recorded_at: Thu, 23 Dec 2021 21:00:45 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/directions/v2/route?from=denver,co&key=DONT_SHARE_MY_SECRET_KEY&to=washington,dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Last-Modified:
      - Thu, 23 Dec 2021 21:00:46 GMT
      Status:
      - success
      Transactionweight:
      - '1'
    body:
      encoding: ASCII-8BI[...]
[...]
