---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_SECRET_KEY&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 28 Sep 2021 23:12:41 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_SECRET_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1837416897"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_SECRET_KEY&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=1538243308"}]}]}'
  recorded_at: Tue, 28 Sep 2021 23:12:41 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_SECRET_KEY&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632870745,"sunrise":1632833607,"sunset":1632876443,"temp":296.49,"feels_like":295.72,"pressure":999,"humidity":32,"dew_point":278.88,"uvi":1,"clouds":29,"visibility":10000,"wind_speed":2.24,"wind_deg":154,"wind_gust":5.36,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1632870000,"temp":296.49,"feels_like":295.72,"pressure":999,"humidity":32,"dew_point":278.88,"uvi":1,"clouds":29,"visibility":10000,"wind_speed":8.49,"wind_deg":145,"wind_gust":7.84,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.15},{"dt":1632873600,"temp":296.84,"feels_like":296.05,"pressure":999,"humidity":30,"dew_point":278.26,"uvi":0.24,"clouds":31,"visibility":10000,"wind_speed":6.08,"wind_deg":171,"wind_gust":6.73,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.15},{"dt":1632877200,"temp":295.68,"feels_like":294.85,"pressure":999,"humidity":33,"dew_point":278.62,"uvi":0,"clouds":55,"visibility":10000,"wind_speed":6.2,"wind_deg":270,"wind_gust":9.42,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.24},{"dt":1632880800,"temp":294.79,"feels_like":293.92,"pressure":1000,"humidity":35,"dew_point":278.69,"uvi":0,"clouds":66,"visibility":10000,"wind_speed":4.26,"wind_deg":233,"wind_gust":7.15,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.2,"rain":{"1h":0.12}},{"dt":1632884400,"temp":294.28,"feels_like":293.36,"pressure":1001,"humidity":35,"dew_point":278.24,"uvi":0,"clouds":80,"visibility":10000,"wind_speed":3.57,"wind_deg":253,"wind_gust":5.39,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.16},{"dt":1632888000,"temp":293.05,"feels_like":292.06,"pressure":1002,"humidity":37,"dew_point":277.57,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":3.48,"wind_deg":260,"wind_gust":5.65,"weathe[...]
[...]
