---
http_interactions:
- request:
    method: get
    uri: https://openlibrary.org/search.json?title=denver%20co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.123 TT 0 0.142"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 31,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "key": "/works/OL4930574W",
                    "text": [
                        "/works/OL4930574W",
                        "Relocation of Western Executive Seminar Center from Denver to Grand Junction, CO",
                        "joint hearing before certain subcommittees of the Committee on Government Operations and the Committee on Post Office and Civil Service, House of Representatives, Ninety-eighth Congress, second session, May 7, 1984.",
                        "OL17801719M",
                        "OL2663740M",
                        "OL17665953M",
                        "85601140",
                        "United States. Congress. House. Committee on Post Office and Civil Service. Subcommittee on Civil Service.",
                        "U.S. G.P.O.",
                        "OL1059069A",
                        "United States. Congress. House. Committee on Government Operations. Manpower and Housing Subcommittee.",
                        "United States. Congress. House. Committee on Government Operations Manpower and Housing Subcommittee.",
                        "United States. Congress. House. Committee on Government Operations. Manpower and Housing Subcommittee",
                        "United States",
                        "Government executives",
                        "Training of",
                        "Western Executive Seminar Center (Denver, Colo.)"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL17801719M",
                        "/books/OL2663740M",
                        "/books/OL17665953M",
                        "/works/OL4930574W",
                        "/subjects/government_executives",
                        "/subjects/training_of",
                        "/subjects/western_executive_seminar_center_(denver_colo.)",
                        "/subjects/place:united_states",
                        "/authors/OL1059069A"
                    ],
                    "title": "Relocation of Western Executive Seminar Center from Denver to Grand Junction, CO",
                    "title_suggest": "Relocation of Western Executive Seminar Center from Denver to Grand Junction, CO",
                    "has_fulltext": false,
                    "edition_count": 3,
                    "edition_key": [
                        "OL17801719M",
                        "OL2663740M",
                        "OL17665953M"
                    ],
                    "publish_date": [
                        "1984"
                    ],
                    "publish_year": [
                        1984
                    ],
                    "first_publish_year": 1984,
                    "lccn": [
                        "85601140"
                    ],
                    "publish_place": [
                        "Washington"
                    ],
                    "contributor": [
                        "United States. Congress. House. Committee on Post Office and Civil Service. Subcommittee on Civil Service."
                    ],
                    "lcc": [
                        "KF-0027.00000000.G6678 1984g"
                    ],
                    "ddc": [
                        "353.0740978883"
                    ],
                    "last_modified_i": 1604445783,
                    "ebook_count_i": 0,
                    "publisher": [
                        "U.S. G.P.O."
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL1059069A"
                    ],
                    "author_name": [
                        "United States. Congress. House. Committee on Government Operations. Manpower and Housing Subcommittee."
                    ],
                    "author_alternative_name": [
                        "United States. Congress. House. Committee on Government Operations Manpower and Housing Subcommittee.",
                        "United States. Congress. House. Committee on Government Operations. Manpower and Housing Subcommittee"
                    ],
                    "place": [
                        "United States"
                    ],
                    "subject": [
                        "Government executives",
                        "Training of",
                        "Western Executive Seminar Center (Denver, Colo.)"
                    ],
                    "publisher_facet": [
                        "U.S. G.P.O."
                    ],
                    "place_key": [
                        "united_states"
                    ],
                    "subject_facet": [
                        "Government executives",
                        "Training of",
                        "Western Executive Seminar Center (Denver, Colo.)"
                    ],
                    "_version_": 1700715490716942339,
                    "place_facet": [
                        "United States"
                    ],
                    "lcc_sort": "KF-0027.00000000.G6678 1984g",
                    "author_facet": [
                        "OL1059069A United States. Congress. House. Committee on Government Operations. Manpower and Housing Subcommittee."
                    ],
                    "subject_key": [
                        "government_executives",
                        "training_of",
                        "western_executive_seminar_center_(denver_colo.)"
                    ],
                    "ddc_sort": "353.0740978883"
                },
                {
                    "key": "/works/OL8503198W",
                    "text": [
                        "/works/OL8503198W",
                        "Denver, Co",
                        "OL10909613M",
                        "9780762507849",
                        "0762507845",
                        "Universal Map Enterprises",
                        "OL2843451A",
                        "Universal Map"
                    ],
                    "type": "work",
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "has_fulltext": false,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "first_publish_year": 2001,
                    "isbn": [
                        "9780762507849",
                        "0762507845"
                    ],
                    "last_modified_i": 1338943517,
                    "ebook_count_i": 0,
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "language": [
                        "eng"
                    ],
                    "author_key": [
                        "OL2843451A"
                    ],
            [...]
