---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_SECRET_KEY&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632923001,"sunrise":1632920064,"sunset":1632962745,"temp":286.77,"feels_like":285.7,"pressure":1012,"humidity":58,"dew_point":278.67,"uvi":0.23,"clouds":61,"visibility":10000,"wind_speed":0.45,"wind_deg":192,"wind_gust":2.24,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1632920400,"temp":287.38,"feels_like":286.29,"pressure":1011,"humidity":55,"dew_point":278.48,"uvi":0,"clouds":69,"visibility":10000,"wind_speed":3.23,"wind_deg":53,"wind_gust":4.37,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1632924000,"temp":286.77,"feels_like":285.7,"pressure":1012,"humidity":58,"dew_point":278.67,"uvi":0.23,"clouds":61,"visibility":10000,"wind_speed":3.25,"wind_deg":77,"wind_gust":4.45,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1632927600,"temp":287.44,"feels_like":286.39,"pressure":1012,"humidity":56,"dew_point":278.79,"uvi":0.92,"clouds":57,"visibility":10000,"wind_speed":3.9,"wind_deg":58,"wind_gust":4.21,"weather":[{"id":8[...]
[...]
