---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_SECRET_KEY&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632803196,"sunrise":1632747150,"sunset":1632790142,"temp":293.08,"feels_like":291.96,"pressure":1008,"humidity":32,"dew_point":275.91,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":3,"wind_deg":170,"wind_gust":8.45,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1632801600,"temp":293.08,"feels_like":291.96,"pressure":1008,"humidity":32,"dew_point":275.91,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":3,"wind_deg":170,"wind_gust":8.45,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1632805200,"temp":293.71,"feels_like":292.6,"pressure":1008,"humidity":30,"dew_point":275.55,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":2.22,"wind_deg":186,"wind_gust":5.59,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1632808800,"temp":294.07,"feels_like":292.95,"pressure":1008,"humidity":28,"dew_point":274.9,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":1.65,"wind_deg":202,"wind_gust":3.26,"weather":[{"id":804[...]
[...]
