---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_SECRET_KEY&exclude=minutely&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632767552,"sunrise":1632747150,"sunset":1632790142,"temp":301.93,"feels_like":300.4,"pressure":1010,"humidity":18,"dew_point":275.28,"uvi":5.89,"clouds":3,"visibility":10000,"wind_speed":0.45,"wind_deg":57,"wind_gust":0.89,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1632765600,"temp":301.74,"feels_like":300.23,"pressure":1010,"humidity":16,"dew_point":273.49,"uvi":5.5,"clouds":10,"visibility":10000,"wind_speed":0.78,"wind_deg":98,"wind_gust":1.5,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1632769200,"temp":301.93,"feels_like":300.4,"pressure":1010,"humidity":18,"dew_point":275.28,"uvi":5.89,"clouds":3,"visibility":10000,"wind_speed":1.02,"wind_deg":91,"wind_gust":2.73,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1632772800,"temp":302.26,"feels_like":300.62,"pressure":1009,"humidity":16,"dew_point":273.9,"uvi":5.37,"clouds":4,"visibility":10000,"wind_speed":1.38,"wind_deg":86,"wind_gust":3.14,"weather":[{"id":800,"mai[...]
[...]
