---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_SECRET_KEY&location=dgsdgdsg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 27 Sep 2021 01:51:21 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"dgsdgdsg"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A1XAX","geocodeQuality":"COUNTRY","dragPoint":false,"sideOfStreet":"N","linkId":"282934758","unknownInput":"","type":"s","latLng":{"lat":39.390897,"lng":-99.066067},"displayLatLng":{"lat":39.390897,"lng":-99.066067},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_SHARE_MY_SECRET_KEY&type=map&size=225,160&locations=39.390897,-99.066067|marker-sm-50318A-1&scalebar=true&zoom=2&rand=826216435"}]}]}'
  recorded_at: Mon, 27 Sep 2021 01:51:21 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_SHARE_MY_SECRET_KEY&exclude=minutely&lat=39.390897&lon=-99.066067
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.3909,"lon":-99.0661,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1632707481,"sunrise":1632659270,"sunset":1632702424,"temp":299.56,"feels_like":299.56,"pressure":1005,"humidity":21,"dew_point":275.5,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":6.64,"wind_deg":200,"wind_gust":16.56,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1632704400,"temp":300.03,"feels_like":299.16,"pressure":1005,"humidity":20,"dew_point":275.2,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.32,"wind_deg":198,"wind_gust":11.72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1632708000,"temp":299.56,"feels_like":299.56,"pressure":1005,"humidity":21,"dew_point":275.5,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":6.64,"wind_deg":200,"wind_gust":16.56,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1632711600,"temp":299.92,"feels_like":299.09,"pressure":1005,"humidity":20,"dew_point":275.11,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":7.38,"wind_deg":209,"wind_gust":18.34,"weather":[{"id":800,"main[...]
[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_SECRET_KEY&location=12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 27 Sep 2021 01:55:38 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - suc[...]
[...]
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_SHARE_MY_SECRET_KEY&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '0'
      Last-Modified:
      - Mon, 27 Sep 2021 01:56:48 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '0.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":400,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":["Illegal argument from request: Insufficient
        info for location"]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":""},"locations":[]}]}'
  recorded_at: Mon, 27 Sep 2021 01:56:48 GMT
recorded_with: VCR 6.0.0
